@import "reset.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    background: #1E252B;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}

.header {
    padding-top: 26px;
    &-menu {
        &__list {
            display: flex;
        }
        &__list-link {
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.55);
            margin-left: 50px;
        }
    }
    &__right {
        &-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.78);
            opacity: 0.78;
            margin-right: 41px;
        }
        &-button {
            padding: 12px 28px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FDF5FF;
            background: #FF6E30;
            border-radius: 8px;
        }
    }
}

.intro {
    background-image: url(../images/intro-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &__box {
        margin-top: 104px;
        &-title {
            font-size: 50px;
            line-height: 140%;
            color: rgba(255, 255, 255, 0.9);
            max-width: 600px;
            margin-bottom: 30px;
            span {
                color: #FF6E30;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.55);
            max-width: 480px;
            margin-bottom: 60px;
        }
        &-input {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.38);
            padding: 18px 0 18px 20px;
            background: #283036;
            border-radius: 15px;
            border: none;
            width: 300px;
            outline: none;
            position: relative;
            z-index: 2;
        }
        &-button {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 15px 36px;
            background: #FF6E30;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
        margin-bottom: 13%;
    }
    &__social {
        &-img {
            margin-right: 20px;
        }
    }
}