@import "reset.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    background: #1E252B;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}

.header {
    padding-top: 26px;
    &-menu {
        &__list {
            display: flex;
        }
        &__list-link {
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.55);
            margin-left: 50px;
        }
    }
    &__right {
        &-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.78);
            opacity: 0.78;
            margin-right: 41px;
        }
        &-button {
            padding: 12px 28px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FDF5FF;
            background: #FF6E30;
            border-radius: 8px;
        }
    }
}

.intro {
    background-image: url(../images/intro-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &__box {
        margin-top: 104px;
        &-title {
            font-size: 50px;
            line-height: 140%;
            color: rgba(255, 255, 255, 0.9);
            max-width: 600px;
            margin-bottom: 30px;
            span {
                color: #FF6E30;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.55);
            max-width: 480px;
            margin-bottom: 60px;
        }
        &-input {
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.38);
            padding: 18px 0 18px 20px;
            background: #283036;
            border-radius: 15px;
            border: none;
            width: 300px;
            outline: none;
            position: relative;
            z-index: 2;
        }
        &-button {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            padding: 15px 36px;
            background: #FF6E30;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
        margin-bottom: 13%;
    }
    &__social {
        &-img {
            margin-right: 20px;
        }
    }
}

.tools {
    margin-bottom: 200px;
    &__title {
        font-size: 48px;
        line-height: 130%;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        margin-bottom: 25px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: rgba(255, 255, 255, 0.55);
        margin-bottom: 90px;
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px 25px;
        margin-bottom: 100px;
    }
    &__item {
        transition: all .3s;
        padding: 25px 33px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background: rgba(255, 110, 48, 0.6);
            filter: blur(50px);
            width: 65px;
            height: 65px;
            top: 6px;
            right: 16px;
            opacity: .5;
        }
        &:hover {
            background: rgba(40, 48, 54, 0.6);
            backdrop-filter: blur(50px);
            border-radius: 15px;
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.55);
            margin-bottom: 30px;
        }
    }
    .tools__item path,
    .tools__item svg {
        transition: all .5s;
    }
    .tools__item svg {
        margin-right: 12px;
        cursor: pointer;
    }
    .tools__item:hover path {
        fill: #FD3B41;
        fill-opacity: 1;
    }
    .tools__item:hover svg {
        background: #283036;
        box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
        border-radius: 8px;
    }
    .tools__item:hover .tools__right-link {
        background: #FF6E30;
        color: #fff;
    }
    .tools__item:hover .tools__box-title {
        color: rgba(255, 255, 255, 0.9);
    }
    .tools__item:hover .tools__box-subtitle {
        color: #FFA537;
    }
    .tools__item:hover .tools__item-text {
        color: rgba(255, 255, 255, 0.78);
    }
    &__top-img {
        margin-right: 30px;
    }
    &__box {
        &-title {
            margin-bottom: 3px;
            font-size: 24px;
            line-height: 36px;
            color: rgba(255, 255, 255, 0.78);
        }
        &-subtitle {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: rgba(255, 165, 55, 0.55);
            transition: all .3s;
        }
    }
    &__top {
        margin-bottom: 30px;
    }
    &__left-save {
        cursor: pointer;
    }
    &__right {
        &-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.55);
            padding: 9px 35px;
            border-radius: 8px;
            transition: all .4s;
        }
    }
    &__button {
        text-align: center;
        &-link {
            font-size: 20px;
            line-height: 30px;
            color: #FF6E30;
            padding: 17px 38px;
            background: #1E252B;
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 8px;
        }
    }
}               

.brands {
    margin-bottom: 200px;
    &__wrapper {
        background: rgba(44, 53, 61, 0.2);
        backdrop-filter: blur(50px);
        border-radius: 25px;
        padding: 55px 85px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background: rgba(255, 110, 48, 0.6);
            filter: blur(50px);
            width: 65px;
            height: 65px;
            top: 6px;
            left: 16px;
            opacity: .5;
        }
    }
    &__wrapper-title {
        font-size: 24px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        margin-bottom: 55px;
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.join {
    margin-bottom: 240px;
    &__inform {
        text-align: center;
        margin-bottom: 100px;
        &-title {
            margin-bottom: 25px;
            font-size: 48px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.9);
        }
        &-text {
            max-width: 420px;
            margin: 0 auto;
            font-size: 18px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.55);
        }
    }
    &__form {
        text-align: center;
        &-input {
            padding: 15px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.38);
            background: #283036;
            border-radius: 15px;
            outline: none;
            border: none;
            width: 450px;
            &::placeholder {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: rgba(255, 255, 255, 0.38);
            }
        }
        &-button {
            padding: 12px 35px;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            background: #FF6E30;
            border-radius: 8px;
            border: none;
            cursor: pointer;
        }
    }
}

.footer {
    padding: 70px 0 100px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__left {
        width: 260px;
        &-img {
            margin-bottom: 25px;
        }
        &-copy {
            margin-bottom: 21px;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.9);
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            color: rgba(255, 255, 255, 0.55);
        }
    }
    &__menu {
        &-title {
            font-size: 20px;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.9);
            margin-bottom: 20px;
        }
    }
    &__list {
        &-item {
            margin-bottom: 10px;
        }
        &-link {
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.55);
        }
    }
}