html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  background: #1E252B;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding-top: 26px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__list-link {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  margin-left: 50px;
}

.header__right-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  opacity: 0.78;
  margin-right: 41px;
}

.header__right-button {
  padding: 12px 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FDF5FF;
  background: #FF6E30;
  border-radius: 8px;
}

.intro {
  background-image: url(../images/intro-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro__box {
  margin-top: 104px;
  margin-bottom: 13%;
}

.intro__box-title {
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  margin-bottom: 30px;
}

.intro__box-title span {
  color: #FF6E30;
}

.intro__box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  max-width: 480px;
  margin-bottom: 60px;
}

.intro__box-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  padding: 18px 0 18px 20px;
  background: #283036;
  border-radius: 15px;
  border: none;
  width: 300px;
  outline: none;
  position: relative;
  z-index: 2;
}

.intro__box-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 15px 36px;
  background: #FF6E30;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.intro__social-img {
  margin-right: 20px;
}
/*# sourceMappingURL=main.css.map */