html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  background: #1E252B;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1220px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding-top: 26px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__list-link {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  margin-left: 50px;
}

.header__right-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  opacity: 0.78;
  margin-right: 41px;
}

.header__right-button {
  padding: 12px 28px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FDF5FF;
  background: #FF6E30;
  border-radius: 8px;
}

.intro {
  background-image: url(../images/intro-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro__box {
  margin-top: 104px;
  margin-bottom: 13%;
}

.intro__box-title {
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  margin-bottom: 30px;
}

.intro__box-title span {
  color: #FF6E30;
}

.intro__box-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  max-width: 480px;
  margin-bottom: 60px;
}

.intro__box-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.38);
  padding: 18px 0 18px 20px;
  background: #283036;
  border-radius: 15px;
  border: none;
  width: 300px;
  outline: none;
  position: relative;
  z-index: 2;
}

.intro__box-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 15px 36px;
  background: #FF6E30;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.intro__social-img {
  margin-right: 20px;
}

.tools {
  margin-bottom: 200px;
}

.tools__title {
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
}

.tools__subtitle {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 90px;
}

.tools__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px 25px;
  margin-bottom: 100px;
}

.tools__item {
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 25px 33px;
  position: relative;
}

.tools__item::after {
  position: absolute;
  content: '';
  background: rgba(255, 110, 48, 0.6);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  width: 65px;
  height: 65px;
  top: 6px;
  right: 16px;
  opacity: .5;
}

.tools__item:hover {
  background: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 15px;
}

.tools__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 30px;
}

.tools .tools__item path,
.tools .tools__item svg {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.tools .tools__item svg {
  margin-right: 12px;
  cursor: pointer;
}

.tools .tools__item:hover path {
  fill: #FD3B41;
  fill-opacity: 1;
}

.tools .tools__item:hover svg {
  background: #283036;
  -webkit-box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
          box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
}

.tools .tools__item:hover .tools__right-link {
  background: #FF6E30;
  color: #fff;
}

.tools .tools__item:hover .tools__box-title {
  color: rgba(255, 255, 255, 0.9);
}

.tools .tools__item:hover .tools__box-subtitle {
  color: #FFA537;
}

.tools .tools__item:hover .tools__item-text {
  color: rgba(255, 255, 255, 0.78);
}

.tools__top-img {
  margin-right: 30px;
}

.tools__box-title {
  margin-bottom: 3px;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}

.tools__box-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tools__top {
  margin-bottom: 30px;
}

.tools__left-save {
  cursor: pointer;
}

.tools__right-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  padding: 9px 35px;
  border-radius: 8px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.tools__button {
  text-align: center;
}

.tools__button-link {
  font-size: 20px;
  line-height: 30px;
  color: #FF6E30;
  padding: 17px 38px;
  background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.brands {
  margin-bottom: 200px;
}

.brands__wrapper {
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 25px;
  padding: 55px 85px;
  position: relative;
}

.brands__wrapper::after {
  position: absolute;
  content: '';
  background: rgba(255, 110, 48, 0.6);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  width: 65px;
  height: 65px;
  top: 6px;
  left: 16px;
  opacity: .5;
}

.brands__wrapper-title {
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-bottom: 55px;
}

.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */